
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
:root{
    --bg-color:#a8b9ff;
    --bg-color-ct:#045185be;
    --label-color:#ccc;
    --text-color:#FFF;
    --bg-button:#F44236;
    --font-main:"Lato,sans-serif";
}
body{
    background:var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color:var(--text-color);
}
.hide{
    display: none !important;

}
.container{
    
    min-width: 80vh;
    min-height:40vh;
    padding: 2rem;
    background: var(--bg-color-ct);
    border-radius: 2.6vh;
    margin-top: 1vh;
    margin-bottom: 2vh;

}

/*IMC formulário*/
#calc-container h2{
    text-align: center;
    margin: 0 0 2rem 0;
}
.form-inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.form-control{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0 0 1rem 0;
}
.form-control label{
    font-weight: bold;
    color: var(--label-color);
    margin-bottom: .6rem;
}
.form-control input {
    padding: 1rem .5rem;
    border-radius: 5vh;
}
.action-control{
    display: flex;
    justify-content:space-between;
    margin-top: 0rem;
    gap:1rem;
}

button{
    text-transform: uppercase;
    padding:1rem 1.5rem;
    background: var(--bg-button);
    border: none;
    border-radius: 6vh;
    color: var(--text-color);
    cursor: pointer;
    opacity: 0.9;
    flex:1;

}
button:hover{
    opacity: 1;

}
#clear-btn{
    background: #444;
}

/*Tabela*/
#result-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    
}
.imc-number{
    
    font-size: 2.4rem;
    margin-bottom: .6rem;
}
.imc-info{
    font-size: 1.4rem;
    color:#ccc;
}
#result-container h3{
    margin-top: 1rem;
    color: #dfdfdf;
}
#imc-table{
    margin: 1.5rem 0 .8rem;
    font-size: .8rem;
    width: 100%;
    height: 300px;
}
.table-header {
    font-weight: bold;
    color:var(--label-color);

}
.table-header,.table-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5rem;
    padding-bottom: .5rem;
    border-bottom: 1px solid #444 ;

}
.table-header h4, .table-data p{
    flex: 1;
}
.table-header h4:nth-child(3), .table-data p:nth-child(3){
    max-width:75px;
}
#back-btn{
    align-self: center;
}
.bom{
    font-weight: bold;
    color:#12db34;

}
.baixa{
    font-weight: bold;
    color:#dbce12;
}
.media{
    font-weight: bold;
    color: #9b3f01;

}
.alta{
    font-weight: bold;
    color:red;
}


@media screen and (max-width:350px){
    body{
        background:var(--bg-color);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        color:var(--text-color);
    }
    .hide{
        display: none !important;
    
    }
    .container{
        min-width: 50%;
        min-height:50vh;
        padding: 2rem;
        background: var(--bg-color-ct);
        border-radius: 2.6vh;
        margin-top: .5vh;
    
    }

}
@media screen and (max-width:390px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      
    }
    body{
        background:var(--bg-color);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        color:var(--text-color);
    }
    .hide{
        display: none !important;
    
    }
    .container{
        min-width: 50%;
        min-height:50vh;
        padding: 2rem;
        background: var(--bg-color-ct);
        border-radius: 2.6vh;
        margin-top: .5vh;
    
    }

    
}