

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
:root{
    --bg-color:#090e22;
    --bg-color-ct:#1d1e33;
    --label-color:#ccc;
    --text-color:#FFF;
    --font-main:"Lato,sans-serif";
}
body{
    background:var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color:var(--text-color);
}
.hide{
    display: none !important;

}
.container{
    min-width: 40vh;
    min-height: 60vh;
    padding: 2rem;
    background: var(--bg-color-ct);

}
/*IMC formulário*/
#calc-container h2{
    text-align: center;
    margin: 0 0 2rem 0;
}
.form-inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.form-control{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0 0 1rem 0;
}
.form-control label{
    font-weight: bold;
    color: var(--label-color);
    margin-bottom: .6rem;
}
.form-control input {
    padding: 1rem .5rem;
}
